to-do.txt
winget-packages.txt
senget-package.txt

/target
/.vscode
/Packages
/Package-Database
/Package-Distributables
/Test-Database
/Test-Package-Distributables
/senget-packages.txt
/src/includes/github/scraps
/src/includes/crap.rs
